mixin back-img(link_from_media)
	div(style=`background-image:url(/public/media/${link_from_media})`)&attributes(attributes)
		block

mixin svg(link_from_media)
	svg&attributes(attributes)
		use(xlink:href=`/public/media/${link_from_media}`)

mixin img(link_from_media)
	img(src=`/public/media/${link_from_media}`)&attributes(attributes)

mixin pdf(link)
	a(href=link, target="_blank")&attributes(attributes)
		block

mixin iframe(link)
	iframe(src=link allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)&attributes(attributes)